.dialog .MuiPaper-root {
    background-color: #424242;
    color: white;
}

.dialog .MuiDialogTitle-root {
    background-color: #424242;
    color: white;
}

.dialog .MuiDialogContent-root {
    color: white;
}

.dialog-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

